[submodule ".vim/color/molokai.git"]
	path = .vim/color/molokai.git
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-airline.git"]
	path = .vim/bundle/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes.git"]
	path = .vim/bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/bundle/vim-pandoc.git"]
	path = .vim/bundle/bundle/vim-pandoc.git
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-pandoc.git"]
	path = .vim/bundle/vim-pandoc.git
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-markdown.git"]
	path = .vim/bundle/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/plugins/start/vim-markdown.git"]
	path = .vim/pack/plugins/start/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/plantuml-syntax.git"]
	path = .vim/bundle/plantuml-syntax.git
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/syntax/plantuml-syntax.git"]
	path = .vim/syntax/plantuml-syntax.git
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/plugins/start/vim-todo-lists"]
	path = .vim/pack/plugins/start/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists.git
[submodule ".vim/bundle/vim-todo-lists"]
	path = .vim/bundle/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists.git
