[submodule ".vim/color/molokai.git"]
	path = .vim/color/molokai.git
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-airline.git"]
	path = .vim/bundle/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes.git"]
	path = .vim/bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
