[submodule ".vim/color/molokai.git"]
	path = .vim/color/molokai.git
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-airline.git"]
	path = .vim/bundle/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes.git"]
	path = .vim/bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/bundle/vim-pandoc.git"]
	path = .vim/bundle/bundle/vim-pandoc.git
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-pandoc.git"]
	path = .vim/bundle/vim-pandoc.git
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-markdown.git"]
	path = .vim/bundle/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/plugins/start/vim-markdown.git"]
	path = .vim/pack/plugins/start/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
